<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306130832127-8iou5f8mt77n56vn5b7lnjeebgvjcl6q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306130832127-8iou5f8mt77n56vn5b7lnjeebgvjcl6q</string>
	<key>API_KEY</key>
	<string>AIzaSyDeBfH2tCyNInwaSN3oB3X4PM9TKwHOe6E</string>
	<key>GCM_SENDER_ID</key>
	<string>306130832127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodDeliveryApp</string>
	<key>PROJECT_ID</key>
	<string>larry-food-app</string>
	<key>STORAGE_BUCKET</key>
	<string>larry-food-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306130832127:ios:fa77a4292c32ac48541aca</string>
</dict>
</plist>